
#c{
    background-color:white;
    background-size: 100% 500px;
    
}
 #x{
    margin-top:2%;
    margin-left: 10%;
} 
#p{
    margin-top:2%;
    margin-left: 5%;  
} 
#y
{   margin-top:3%;
    text-align:center;
    font-weight: bold;
    font-size: 50px;
    color:black;
    font-family:sans-serif;
    
}  
.mkl li a{
        font-size: 15px;
} 
.bkc  a {
    font-size: 20px;
}

.tileContainer{
    height: 520px;
    display: inline-block;
    margin-left: 3%; 
    margin-top: 2%;
    box-shadow: 0px 0px 0px rgb(36, 22, 159) ;
    
}
 

.tileContaineop{
    height: 180px;
    width:300px;
    display: inline-block;
    margin-left: 2%;
    margin-top: 4%;

    
} 
.tileContainr{
    height: 180px;  
    width: 300px;
    display: inline-block;
    margin-left: 2%;
    margin-top: 4%;

}
.tileCon{ 
    display: inline-block;
    margin-left: 3%; 
    margin-top: 2%; 
    
    
}  
#moc{
    background-image:url("image/bmg5.jpg") ;
    background-size: 100%;
    height: 73%;
    border-radius: 1%;
    background-repeat: no-repeat; 
   
}
.pc{ 
    display: inline-block;
    box-shadow: 0 2px 6px 0
             gray,0 4px 12px 0
             gray;
    overflow-y:hidden;
    overflow-y:scroll;
    height: 60%; 
    border-radius: 1%;
    width:100%;
    
    
    
} 
.tileConta:hover{
 opacity: 0.5;
 transform: scale(1.1)
}
#mainTileContaine{
    margin-top: 3%; 
    margin-left: 5%;
}


.tileComponent2{
    margin-left:20px;
    margin-top: 20px;
}
.tileComponent1{
    height: 80%;
}
.componentHeading{
    color: white;
    font-size:30px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.componentHeadingi{
    color: black;
    font-size:30px;
    font-weight: bold
}


.componentSubHeading{
    color: gray;
    font-size:18px;
    line-height:1;
}

.mnc{
    margin-top:3%;
}

#mainTileContainer{
    margin-top: -1%; 
    margin-left: 4%;
} 
#mo{
    text-align: center;
    font-weight: bold;
    font-size:50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mom{
    display: inline-block; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
.mop{
    font-size: 19px;

}


.tileConta{
    height: 180px;
    display: inline-block; 
    margin-top:1%;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    height:200px;
    width:100%;  
    
    
} 
.tileConta > img{
 
 height: 80%;
 width: 100%;
 display: inline-block;
}
.tileContainerf{
    height: 180px;
    display: inline-block;
    margin-left: 2%;
    margin-top: 4%; 
    background-color: #cfb997;
    background-repeat: no-repeat;
    background-size: 97% 500px;
    height:200px;
    width:95%;  
    box-shadow: 0 2px 6px 0
    gray,0 4px 12px 0
    gray; 
    border-radius: 2%;
    
    
} 
.tileContainerb{
    height: 180px;
    display: inline-block;
    margin-left: 2%;
    margin-top: 4%; 
    background-color: #cfb997;
    background-repeat: no-repeat;
    background-size: 97% 500px;
    height:200px;
    width:95%; 
    box-shadow: 0 2px 6px 0
    gray,0 4px 12px 0
    gray;
    border-radius: 2%;
    
}  
.tileContainerc{
    height: 180px;
    display: inline-block;
    margin-left: 2%;
    margin-top: 4%; 
    background-color: #eb6440;
   
    background-repeat: no-repeat;
    background-size: 97% 500px;
    height:200px;
    width:95%;
    box-shadow: 0 2px 6px 0
    gray,0 4px 12px 0
    gray; 
    border-radius: 2%;
   
   
    
}  
.tileContainerbb{
    height: 180px;
    display: inline-block;
    margin-left: 2%;
    margin-top: 4%; 
    background-color: #eb6440;
    background-repeat: no-repeat;
    background-size: 97% 500px;
    height:200px;
    width:95%;
    box-shadow: 0 2px 6px 0
    gray,0 4px 12px 0
    gray;
    border-radius: 2%;
    
} 
.tileContainerv{
    height: 180px;
    display: inline-block;
    margin-left: 2%;
    margin-top: 4%; 
    background-color: #567189;
    background-repeat: no-repeat;
    background-size: 97% 500px;
    height:200px;
    width:90%;
    box-shadow: 0 2px 6px 0
    gray,0 4px 12px 0
    gray; 
    border-radius: 2%;
    

     
    
}  
.tileContainerk{
    height: 180px;
    display: inline-block;
    margin-left: 2%;
    margin-top: 4%; 
    background-color:#567189 ;
    background-repeat: no-repeat;
    background-size: 97% 500px;
    height:200px;
    width:95%;
    box-shadow: 0 2px 6px 0
    gray,0 4px 12px 0
    gray;
    border-radius: 2%;
   
    
} 
#bmg{
    background-image: url("image/fbmg7.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.tileContainer > img {
    height: 180px;
}

#mainTileContainer{
    margin-top: 3%;
}


.tileComponent2{
    margin-left:10px;
    margin-top: 20px;
} 
.tileComponent02{
    margin-left:-15%;
    margin-top: 20px;
}
.tileComponent1{
    width: 50%;
}
.tileComponent1 > img{
    height: 180px;
    width:50%
}  

#ko h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-decoration-color: #00337C; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    
  
} 
.ip{
    font-size: 18px;
    color: aliceblue;
} 
.ip a{
    font-size: 18px;
    color: aliceblue;
}



.tileContainerc:hover{
   transform: scale(0.9)
} 
.tileContainerb:hover{
    transform: scale(0.9)
 }
 .tileContainerbb:hover{
    transform: scale(0.9)
 }
 .tileContainerk:hover{
    transform: scale(0.9)
 } 
 .tileContainerv:hover{
    transform: scale(0.9)
 } 
 .tileContainerf:hover{
    transform: scale(0.9)
 }

.bike{
    margin-left:1%;
    animation: moveBike 20s infinite;
}
#right{
    background-color: blue;

}  
#ko h1{
    font-weight: bold;
   
} 
.loc:hover{
    transform: scale(1.1);
}
footer{
    margin-top:2%;
    background-color: #00337C;
    width: 100% fixed;
    


} 
.f h4{ 
font-weight:bold;
color:white ;
margin-left:4%;
}  
#lp{
 width:52%;
}

@media screen and (max-width:1600px){
    #lp{
        width:52%;
       }
}

@media screen and (max-width:1400px){
    #lp{
        width:52%;
       }
}

@media screen and (max-width:1200px){
    #lp{
        width:100%;
       }
}

@media screen and (max-width:1000px){

    .lp{
        width:100%;
       }
}

@media screen and (max-width:800px){
    #lp{
        width:100%;
       }
}

@media screen and (max-width:600px){
    #lp{
        width:100%;
       }
}

